{#
/**
 * @file course_equiv.html.twig
 * Default theme implementation to present Course Equivalency data.
 *
 * This template is used when viewing Course Equivalency pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_course_equiv()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('course_equiv') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
